body {
    background-color: rgb(78, 5, 5);
    min-height: 100vh;
    font-family: system-ui, sans-serif;
    margin: 0;
    color: white;
  }
  
  .start_title {
    background: rgb(3, 59, 3);
    padding: 8px;
    margin: 0;
  }